body {
	background-color: #eee;
}

.head-title{
	color: #FFF;
	font-size: 2em;
}

.border{
	list-style: none;
	margin: 10px 10px 0 0;
	border-bottom: 1px dotted #B3A9A9;
	padding-bottom: 10px;
}

.jumbotron{
	background-image: url(../img/pattern2.png);
}

.sin-margen{
	margin-bottom: 0;
}

.titulo{
	color: #11a9cc;
	font-weight: bold;
	font-size: 1.5em;
}