{% extends '../base.html' %}

{% block content %}

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-6">
					<span class="head-title">
						<h1>Bienvenido a DevAsk!!</h1>
					</span>
					<p>Bienvenido al sistema de discusiones para programadores.</p>
					<p><a href="" class="btn btn-btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">Haz tu Pregunta!!</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="btn-group">
				 	<button class="btn btn-default" type="button">Todas</button>
				 	<button class="btn btn-default" type="button">Top 5</button>
				 	<button class="btn btn-default" type="button">Favoritos</button>	
				</div>
				<div class="media border"></div>
				<div class="media border">
					<a href="" class="pull-left">
						<img src="/img/ask.png" alt="" class="img-circle">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href=""><span class="usuario">Usuario</span></a>
							<small class="pull-right"><span class="glyphicon glyphicon-time"></span>12 min ago</small>
						</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi rerum dicta dolore modi illo, maiores facilis harum, distinctio nulla aspernatur nisi aut impedit architecto molestiae molestias adipisci eum voluptas?</p>
						<p>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-star"></span>Favoritos</span>
							</a>
							<span class="label pull-right"> </span>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>Like</span>
							</a>
						</p>
					</div>
				</div>
				<div class="media border">
					<a href="" class="pull-left">
						<img src="/img/ask.png" alt="" class="img-circle">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href=""><span class="usuario">Usuario</span></a>
							<small class="pull-right"><span class="glyphicon glyphicon-time"></span>12 min ago</small>
						</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi rerum dicta dolore modi illo, maiores facilis harum, distinctio nulla aspernatur nisi aut impedit architecto molestiae molestias adipisci eum voluptas?</p>
						<p>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-star"></span>Favoritos</span>
							</a>
							<span class="label pull-right"> </span>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>Like</span>
							</a>
						</p>
					</div>
				</div>
				<div class="media border">
					<a href="" class="pull-left">
						<img src="/img/ask.png" alt="" class="img-circle">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href=""><span class="usuario">Usuario</span></a>
							<small class="pull-right"><span class="glyphicon glyphicon-time"></span>12 min ago</small>
						</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi rerum dicta dolore modi illo, maiores facilis harum, distinctio nulla aspernatur nisi aut impedit architecto molestiae molestias adipisci eum voluptas?</p>
						<p>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-star"></span>Favoritos</span>
							</a>
							<span class="label pull-right"> </span>
							<a href="">
								<span class="label label-warning pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>Like</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Modal-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Formulario Pregunta</h4>
				</div>
				<div class="modal-body">
					<form action="/guardar-pregunta" class="form-horizontal" role="form" method="post">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Título</label>
							<div class="col-sm-10"><input type="text" name="Title" class="form-control" placeholder="Título"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Contenido</label>
							<div class="col-sm-10">
								<textarea type="content" name="Title" class="form-control" placeholder="Contenido" rows="3"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-btn" type="button" data-dismiss="modal">Atrás</button>
							<input type="submit" value="Preguntar" class="btn btn-btn btn-warning">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}